{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-html-attrs",
    ["import", { "libraryName": "antd", "style": "css" }],
    "lodash"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
