{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 3,
    "selector-list-comma-newline-after": null,
    "declaration-block-properties-order": null,
    "selector-pseudo-element-colon-notation": "single",
    "rule-nested-empty-line-before": null,
    "selector-no-qualifying-type": null,
    "selector-class-pattern": [
      "^[a-z0-9\\-\\_]+$",
      {
        "message": "Selector should be written in lowercase with hyphens (selector-class-pattern)"
      }
    ],
  }
}
