// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  background: $black;
  box-shadow: 0 4px 30px 0 rgba($navy, 0.1);
  padding: 0 $pad;

  img {
    height: 60px;
    margin: 0 2em;
    align-self: center;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0;
    }
    a {
      color: $inactive-color;
      letter-spacing: 0.09em;
      &:hover {
        color: $blue;
      }
    }
    i {
      font-size: $font-size-large;
    }
  }
}
