// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  background: $white;
  box-shadow: 0 4px 30px 0 rgba($navy, 0.1);
  padding: 0 $pad;

  img {
    height: 24px;
    margin: 1em 2em 0 0;
    align-self: center;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0;
      padding-right: 0.5em;
    }
    a {
      color: $inactive-color;
      letter-spacing: 0.09em;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
    i {
      font-size: $font-size-large;
    }
  }
}

@media (max-width: $bp-xs) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: $pad;
  }
}
